html, body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbccd1; /* สีพื้นหลัง */
    font-family: 'Itim', cursive;
  }